body {
  --mainDark: #a9b7c0;
  --mainLight: #c7d8c6;
  --mainHighlight: #efd9c1;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.hidden, .mobile {
  display: none;
}

.spacing {
  height: 20px;
}

/* Top nav bar */

header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 28px 36px;
  font-family: mono;
  align-items: center;
  z-index: 100;
}

h1 {
  font-weight: 900;
  font-size: 50px;
  text-transform: uppercase;
  transition: 0.5s;
}

h1.smaller {
  font-size: 36px;
}

nav a {
  display: inline-block;
  margin: 0 6px;
  width: 45px;
  height: 45px;
  background-size: contain;
  transition: 0.5s;
}

header a.smaller {
  width: 35px;
  height: 35px;
}

nav a:first-of-type {
  margin-left: 0;
}

nav a:hover {
  filter: contrast(50%);
}

a.email { background-image: url("/images/email.png"); }
a.linkedin { background-image: url("/images/linkedin.png"); }
a.github { background-image: url("/images/github.png"); }
a.resume { background-image: url("/images/resume.png"); }

.placeholder {
  filter: opacity(0%);
}
/* main sections */

main {
  padding-top: 10vh;
}

main,
footer {
  color: #ffffff;
}

main h2,
footer h2 {
  margin-bottom: 18px;
  font-size: 45px;
  font-weight: 500;
  white-space: nowrap;  
}

main p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

main p:last-of-type {
  margin-bottom: 40px;
}

main p a,
footer p a,
footer small a {
  font-weight: 500;
}

.light p a {
  border-bottom: 1px solid var(--mainDark);
}

.light p a:hover {
  background-color: var(--mainDark);
  color: #ffffff;
}

main p a:hover,
footer p a:hover,
footer small a:hover {
  background-color: #ffffff;
  color: var(--mainDark);
}

main section,
footer {
  display: flex;
}

.intro img {
  display: block;
  height: 90vh;
}

main article,
footer article {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainDark);
}

.box {
  width: 60%;
}

#projects {
  padding: 0;

}

#projects .box.last {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-right: 30%;
}

div.box.first {
  width: 100%;
  padding-top: 80px;
  background-color: var(--mainDark);
  padding-left: 10%;
  margin-left: 0;
}

div.other-project {
  width: 250px;
}

button {
  padding: 16px 32px;
  color: #ffffff;
  font-weight: 500 !important;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #ffffff;
}

button:hover {
  color: var(--mainDark);
  background-color: #ffffff;
}

.light,
.light article,
.light button {
  color: #000;
  background-color: var(--mainLight);
}

.light button {
  border-color: #5cc4bd;
}

.light button:hover {
  color: #ffffff;
  background-color: #5cc4bd;
}

h4 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 36px;
}

footer h4 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 60px;
}

footer p { 
  font-size: 20px;
  margin: 15px 0 20px 0;
}

footer p:last-of-type { 
  margin: 50px 0 5px 0;
  font-size: 0.8rem;
}

footer .box {
  align-self: flex-start;
}

footer button {
  margin: 25px 0;
}

main article {
  padding: 100px 0;
  flex: 1.02;
}

#project .box {
  margin-left: 7%;
  width: 70%;
}

#app {
  flex: 1;
  padding-right: 40px;
}

#project .logo,
#project .logo.mobile {
  margin-top: 50px;
  margin-bottom: 0;
  display: block;
  width: 50%;
  box-shadow: none;
  margin-left: -25% 
}

#project .logo.mobile {
  display: none;
}

#app img {
  display: block;
  width: 80%;
  margin-bottom: 50px;
  position: relative;
  left: 50%;
  margin-left: -40%;
}

#project img,
#other-projects img,
img.full {
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
}

#other-projects {
  color: #000;
  align-items: flex-start;
  flex-wrap: wrap;
}

#other-projects h2 {
  padding-top: 5px;
  font-size: 1.8rem;
  text-align: center;
}

#other-projects h4 {
  text-align: right;
  padding-right: 10%;
}

#other-projects p {
  font-size: 1rem;
  line-height: 22px;
}

#other-projects img {
  display: block;
  margin: 0 auto 10px auto;
  width: 200px;
}


#other-projects h2:not(:first-of-type) {
  margin-top: 40px;
}

#other-projects article:first-of-type {
  flex: 6;
}

#other-projects article:last-of-type {
  flex: 5;
}

.full {
  width: 105%;
}

#other-projects .full {
  margin-top: 18px;
  margin-bottom: 24px;
}

#other-projects .box.first {
  text-align: left;
  background-color: var(--mainHighlight);
}

#other-projects article {
  background-color: var(--mainHighlight);
}

.box.last {
  background-color: var(--mainHighlight);
  margin-left: -10%;
  width: 70%;
}

strong {
  font-weight: 500;
}

#presentation {
  display: none;
  flex-direction: row;
}

#presentation .box {
  margin-left: 10%;
  width: 55%;
}

#presentation article {
  flex: 1;
  background-color: var(--mainDark);
}

#player {
  height: 100%;
}

.player-wrapper {
  flex: 2;
}

/* Footer */

footer {
  position: relative;
  background: var(--mainDark);
}

#more {
  flex: 2;
}

#more .box {
  width: 100%;
  padding-right: 10%;
}

#info {
  flex: 1;
}

#info .box {
  width: 100%;
  width: 100%;
  text-align: center;
}

footer h2 {
  font-size: 40px;
}

#info nav a {
  filter: invert(100%);
}

#info nav a:hover {
  filter: invert(80%);
}

footer small {
  font-size: 12px;
  position: absolute;
  right: 50px;
  bottom: 30px;
}

footer small a {
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  #app img {
    width: 90%;
  }

  .intro article {
    padding: 0;
  }

  #info .box {
  }

  br.mobile {
    display: block;
  }  
}

@media screen and (max-width: 900px) {
  .intro {
    padding-top: 35px;
  }

  .intro img {
    display: block;
    height: 100%;
    width: 40vw;
    object-fit: cover;
  }

  .intro .box {
    padding: 60px 0;
  }

  #project {
    flex-direction: column;
  }

  #project .box {
    margin: 0;
  }

  .mobile {
    display: block;
    max-width: 100%;
    margin: 60px 0 0 0;
  }

  #app {
    display: none; 
  }

  #project .logo.mobile {
    display: block;
    margin: -15px auto 15px auto;
  }

  header > h1 {
    font-size: 46px;
  }

  article h2 {
    font-size: 40px;
  }

  main article {
    padding: 70px 0;
  }

  section.mobile {
    margin: 0;
  }

  #presentation {
    flex-direction: column;
  }

  #presentation article {
    padding-bottom: 40px;
  }

  #presentation .box {
    margin-left: 0;
    width: 70%;
  }

  .player-wrapper {
    height: 56.7vw;
  }

  .mobile .box {
    width: 70%;
  }

  .mobile article {
    padding: 60px 0 30px 0;
  }

  #other-projects {
    flex-direction: column;
  }

  #other-projects article {
    display: block;
    width: 100%;
  }

  #projects .box.last {
    justify-content: space-around;
    width: 100%;
    margin: 0;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
  }

  footer .box {
    width: 70% !important;
    padding-right: 0 !important;
  }

  #more, #info {
    width: 100%;
  }

  #info .box {
    border: none;
    padding: 40px 0 0 0;
  }

  .placeholder {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  main p,
  footer p {
    font-size: 18px;
  }

  header {
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px 36px;
  }

  header > h1 {
    font-size: 40px;
  }


  header > nav {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    transition: 0.5s;
  }

  h1.smaller {
    font-size: 28px;
    margin: 
  }

  header > nav.smaller {
    height: 0;
    opacity: 0;
  }

  h2 img {
    height: 36px;
  }

  button {
    padding: 16px 32px;
    font-size: 16px;
  }

  .intro {
    flex-direction: column;
  }

  div.box {
    width: 80%;
  }

  #other-projects .box.last {
    flex-wrap: wrap;
  }

  #other-projects div {
    width: 100%;
  }

  #other-projects .other-project {
    width: 51%;
    margin-bottom: 25px;
  }

  footer button {
    margin-top: -5px;
    margin-bottom: 40px;
  }

  img.full {
    border-radius: 0px;
    margin-left: -12.5%;
    width: 100vw;
  }

  .intro img {
    width: 100%;
  }

  .intro .box {
    padding: 100px 0;
    width: 70%;
  }

  article h2 {
    font-size: 40px;
  }

  #info h2 {
    font-size: 30px;
  }
}